<% brewers = ForBrewer.order("position ASC")%>
	<div class="brewer_titles">
		<ul>
			<% brewers.each_with_index do |brewer, i|%>
						<li><a href="#" class="<%= brewer.position %> pause brewer <% if i==0%> active<% end %>"><%= brewer.title %></a></li>
			<% end %>
		</ul>
	</div>
		<img src="/images/forBrewers.png" class="modal_image"  />
		<a href="#" class="close pause">BACK TO Main site <img src='/images/close.png' /></a>
		<div class="image_slider brewer">
		<div class="invisible"></div>
		<% brewers.each_with_index do |brewer, i|%>
		<% position = 550*i %>
		<script type="text/javascript">
		$(document).ready(function(){
			$('div.brewer_titles a.<%= brewer.position %>').click(function() {
			if (!$('.image_slider.brewer .<%= brewer.position %>').hasClass('active'))
			{
				$('.image_slider.brewer .video_slide.active .text').fadeOut();
				$('.image_slider.brewer div.video_slide').removeClass('active');
				$('div.brewer_titles a').removeClass('active');
				$('div.brewer_titles a.<%= brewer.position %>').addClass('active');
				$('.image_slider.brewer div.video_slide.<%= brewer.position %>').addClass('active');
				
				
				var position = <%= brewer.position %> * -550
				  $('.image_slider.brewer').animate({						
				    left: position
				  }, 1000	, function() {
						    // Animation complete.
								$('.image_slider.brewer .video_slide.active .text').fadeIn();
						  });
				}
				return false;
			});
			
			if ( $.browser.msie ) {
				$(".preview_image.brewer").css({'display':'none'});
				$(".preview_image.brewer.<%= brewer.position %>").parent('.video_slide').prepend('<a class="myBrewer<%= brewer.position %> flash_player" href="http://andrews.heroku.com<%= brewer.m4v_file.url %>" style="background:url(http://andrews.heroku.com<%= brewer.display_image.url %>)"><img src="http://andrews.heroku.com<%= brewer.display_image.url %>" /></a>');
				flowplayer("a.myBrewer<%= brewer.position %>", {src: 'http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf', wmode: 'opaque'}, {
				// use the first frame of the video as a "splash image"
				clip: {
					autoPlay: true,
					autoBuffering: true
				}
				});
			}
			
			$(".preview_image.brewer.<%= brewer.position %>").click(function() {
				$(this).parent('.video_slide').prepend('<div class="video-js-box"><!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody --><video id="example_video_1" duration="<%= brewer.duration %>" class="video-js" width="525" height="296" poster="<%= brewer.display_image.url %>" controls style="height:296px !important"><source src="https://s3.amazonaws.com/andrews_distributing/<%= brewer.m4v_file.file_uid %>" type=\'video/mp4; codecs="avc1.42E01E, mp4a.40.2"\' /><source src="<%= brewer.webm_file.url %>" type=\'video/webm; codecs="vp8, vorbis"\' /><source src="<%= brewer.ogg_file.url %>" type=\'video/ogg; codecs="theora, vorbis"\' /></video></div>');
				$(this).css({'display':'none'});
				// Add VideoJS to all video tags on the page when the DOM is ready
				$(this).siblings(".video-js-box").children("video").trigger("play");
				return false;
			});
		});
		</script>
		<div class="video_slide <%= brewer.position %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
			<img src="<%= brewer.display_image.url %>" herf="http://andrews.heroku.com/<%= brewer.m4v_file.url %>" width="525" height="296" class="preview_image brewer <%= brewer.position %>" />
			<div class="text">
			<%=raw brewer.text %>
			</div>
		</div>
		<%end%>
	</div>
	<a class="portal" target="_blank" href="http://sp.adntx.com/">Visit Our Supplier Portal >></a>