<% retailers = ForRetailer.order("position ASC")%>
	<div class="modal_titles">
		<ul>
			<% retailers.each_with_index do |retailer, i|%>
						<li><a href="#" class="<%= retailer.position %> pause <% if i==0%> active<% end %>"><%= retailer.title %></a></li>
			<% end %>
		</ul>
	</div>
		<img src="/images/forRetailers.png" class="modal_image"  />
		<a href="#" class="close pause">BACK TO Main site <img src='/images/close.png' /></a>
		<div class="image_slider retailer">
		<div class="invisible"></div>
		<% retailers.each_with_index do |retailer, i|%>
		<% position = 550*i %>
		<script type="text/javascript">
		$(document).ready(function(){
			$('div.modal_titles a.<%= retailer.position %>').click(function() {
			
			if (!$('.image_slider.retailer.<%= retailer.id %>').hasClass('active'))
			{
				$('.image_slider.retailer .video_slide.active .text').fadeOut();
				$('.image_slider.retailer div.video_slide').removeClass('active');
				$('div.modal_titles a').removeClass('active');
				$('div.modal_titles a.<%= retailer.position %>').addClass('active');
				$('.image_slider.retailer div.video_slide.<%= retailer.position %>').addClass('active');

				var position = <%= retailer.position %> * -550
				  $('.image_slider.retailer').animate({						
				    left: position
				  }, 1000	, function() {
						    // Animation complete.
								$('.image_slider.retailer .video_slide.active .text').fadeIn();
						  });
				}
				return false;
			});
			
			if ( $.browser.msie ) {
				$(".preview_image.retail").css({'display':'none'});
				$(".preview_image.retail.<%= retailer.position %>").parent('.video_slide').prepend('<a class="myRetail<%= retailer.position %> flash_player" href="http://198.101.212.51<%= retailer.m4v_file.url %>" style="background:url(<%= retailer.display_image.url %>)"><img src="<%= retailer.display_image.url %>" /></a>');
				flowplayer("a.myRetail<%= retailer.position %>", {src: 'http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf', wmode: 'opaque'}, {
				// use the first frame of the video as a "splash image"
				clip: {
					autoPlay: true,
					autoBuffering: true
				}
				});
			}
			
			$(".preview_image.retail.<%= retailer.position %>").click(function() {
				$(this).parent('.video_slide').prepend('<div class="video-js-box"><!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody --><video id="example_video_1" duration="<%= retailer.duration %>" class="video-js" width="525" height="296" poster="<%= retailer.display_image.url %>" controls style="height:296px !important"><source src="http://198.101.212.51/system/resources/<%= retailer.m4v_file.file_uid %>" type=\'video/mp4; codecs="avc1.42E01E, mp4a.40.2"\' /><source src="<%= retailer.webm_file.url %>" type=\'video/webm; codecs="vp8, vorbis"\' /><source src="<%= retailer.ogg_file.url %>" type=\'video/ogg; codecs="theora, vorbis"\' /></video></div>');
				$(this).css({'display':'none'});
				// Add VideoJS to all video tags on the page when the DOM is ready
				$(this).siblings(".video-js-box").children("video").trigger("play");
				return false;
			});
		});
		</script>
		<div class="video_slide <%= retailer.position %> <% if i==0%> active<% end %>" style="left:<%= position %>px;">
			<img src="<%= retailer.display_image.url %>" herf="<%= retailer.m4v_file.url %>" width="525" height="296" class="preview_image retail <%= retailer.position %>" />
			<div class="text">
			<%=raw retailer.text %>
			</div>
		</div>
		<%end%>
	</div>
	<a class="portal" target="_blank" href="http://cp.adntx.com/"><img src="/images/retailer.png"></a>